@page
@model Keskhinne.Pages.Hinded.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hinne</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinne.V채채rtus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinne.V채채rtus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hinne.HinneID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
