@page
@model Keskhinne.Pages.Tulemused.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AineHinne</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Hinne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Hinne.HinneID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Aine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Aine.AineID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AineHinne.AineHinneID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
